.App {
  text-align: center;
}

.AppTitle {
  color: black;
}

.Articles {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Article {
  min-width: 100px;
  min-height: 400px;
  border-color: #a7d7f9;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 30px;
  flex-flow: rows;
  flex-wrap: wrap;
}

.ArticleImage {
  background: #f6f6f6;
  margin: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  flex-grow: 1;
  max-width: 400px;
  min-width: 230px;
  min-height: 400px;
  border: 1px solid #a2a9b1;
}

.ArticleContent {
  max-width: 400px;
  margin: 20px;
}

.ArticleTitle {
  text-align: left;
  color: black;
  font-size: 1em;
}

.ArticleAbstractText {
  font-size: .5em;
  text-align: left;
  color: black;
}

.App-header {
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p, h1, h2, h3 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
}
