body {
  margin: 0;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {

  font-family: 'Linux Libertine','Georgia','Times',serif;
}
